:root {
    --color-primary: #4B69FD;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Fonte personalizada */
@font-face {
    font-family: 'Yagami';
    src: url('Fontes/Yagami.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'holly-spurs';
    src: url('Fontes/holly-spurs.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@keyframes flutuar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* Animação para os flocos de neve */
@keyframes fall-slow {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes fall-fast {
    to {
        transform: translateY(100vh);
        opacity: 0;
    }
}

@keyframes windEffect {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

@media (max-width: 768px) {
    .custom-title {
        max-width: 300px; /* Reduz o tamanho do título em telas menores */
    }
    #lottie-container {
        width: 300px; /* Diminui o presente */
        height: 300px;
    }
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Yagami', sans-serif;
}

/* Layout principal */
.main-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.title-container {
    position: relative; /* Mantém o contexto do posicionamento */
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-title {
    position: absolute;
    top: -140px;
    left: -10%;
    transform: translateX(-50%);
    width: 115%;
    height: auto;
    transform-origin: center center; /* Define o centro como ponto fixo */
    animation: windEffect 3s infinite ease-in-out;
}


/* Ajuste do presente animado */
#lottie-container {
    width: 400px; /* Aumentando ainda mais o tamanho */
    height: 500px;
    display: flex;
    position: relative; /* Permite mover o presente sem afetar o restante */
    top: 40px;  /* Move o presente para cima */
    left: -30px;  /* Move o presente para a direita */
    justify-content: center;
    align-items: center;
    animation: flutuar 3s ease-in-out infinite;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px; /* Aumentei o padding para dar mais espaço interno */
    width: 100%;
    margin-top: -100px; /* Movi a área branca para cima */
    min-height: 50vh; /* Garante que a área branca ocupe toda a altura da tela */
    box-sizing: border-box; /* Inclui padding e border no cálculo da altura */
}


/* Títulos */
.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
    position: relative; /* Permite que possamos mover o título */
    top: -30px; /* Move o título para cima, ajuste o valor conforme necessário */
}

/* Campo de entrada */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative; /* Permite que possamos mover o título */
    top: -30px; /* Move o título para cima, ajuste o valor conforme necessário */
}

.input-name {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid var(--color-tertiary);
    border-radius: 25px;
    font-size: 16px;
    max-width: 500px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.input-name:focus {
    border-color: var(--color-primary);
    background-color: var(--color-white);
    outline: none;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Sombra suave ao focar */
}

.input-name::placeholder {
    color: #888;
    font-style: italic;
    text-align: center;
}

/* Botão adicionar */
.button-add {
    padding: 12px 25px;
    background-color: var(--color-tertiary);
    color: var(--color-text);
    font-size: 16px;
    font-family: "Inter", sans-serif;
    border: 2px solid #000;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Estado do botão quando o campo está vazio (vermelho) */
.button-add.invalid {
    background-color: #ff4d4d; /* Cor vermelha */
}

/* Estado do botão quando o campo tem nome (verde) */
.button-add.valid {
    background-color: #4caf50; /* Cor verde */
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Lista */
.name-list {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.name-list li {
    background-color: var(--color-tertiary);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.name-list li:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

/* Botão de sortear */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: flex-start;  /* Move o botão para a esquerda */
    width: 150%;
    padding: 20px 60px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    margin-left: -100px;  /* Ajuste o valor conforme necessário */
    position: relative; /* Permite que possamos mover o título */
    top: -30px; /* Move o título para cima, ajuste o valor conforme necessário */
}


.button-draw img {
    margin-right: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
     box-shadow: 0 0 15px rgba(255, 100, 50, 0.6);
    transform: scale(1.05); /* Aumenta levemente */
    transition: all 0.3s ease;
}

.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* Evita interferência em cliques */
    z-index: -1;
}

/* Flocos menores e mais lentos */
.snowflake.slow {
    position: absolute;
    top: -10px;
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0.6;
    animation: fall-slow linear infinite;
}

/* Flocos maiores e mais rápidos */
.snowflake.fast {
    position: absolute;
    top: -10px;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0.9;
    animation: fall-fast linear infinite;
}

/* Rodapé */
.footer {
    position: absolute;
    bottom: -100px;
    right: 20px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding-right: 20px;
}
